.footer {
  background: #e2e2e2;
  font-family: "Abel-Regular";
}

.info-footer {
  display: flex;
  width: 100%;
  padding-top: 25px;
  color: #757575;
}

.cita {
  margin-left: 40px;
}

.p-right {
  width: 100%;
  text-align: right;
  margin-right: 40px;
}

.avisos {
  margin: 25px 40px;
  gap: 1px;
  display: flex;
  flex-direction: column;
}

.aviso {
  color: #393939;
}
